<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.bestfriends">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/fr"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/fr"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BaseActivity" />
        <activity android:name=".books.BooksView" />
        <activity android:name=".mense.MenseView" />
        <activity android:name=".calendar.HCalendarView" />
        <activity android:name=".list_kido.ListKidoView" />
        <activity
            android:name=".list_kido.PersonView"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".video.VideoView" />
        <activity android:name=".tp_kido.TPkidoView"/>
        <activity android:name=".tp_photo.TPphotoView"/>
        <activity android:name=".exercises.ExercisesView"/>
        <activity android:name=".birthday.BirthdayView"/>
        <activity android:name=".contacts.ContactsView" />
        <activity android:name=".settings.SettingsView" />

        <activity android:name=".korean.home.HomeTopic"/>
        <activity android:name=".korean.home.HomeObject"/>
        <activity android:name=".korean.home.HomeThis"/>

        <activity android:name=".korean.KoreanView"/>
        <activity android:name=".korean.grammar.GrammarAso"/>
        <activity android:name=".korean.grammar.GrammarEso"/>
        <activity android:name=".korean.grammar.GrammarNumbers"/>
        <activity android:name=".korean.grammar.GrammarSpacing"/>
        <activity android:name=".korean.grammar.GrammarVerbP"/>
        <activity android:name=".korean.grammar.GrammarVerbR"/>
        <activity android:name=".korean.grammar.GrammarVerbRy"/>
        <activity android:name=".korean.grammar.GrammarVerbS"/>
        <activity android:name=".korean.grammar.GrammarVerbT"/>
        <activity android:name=".korean.grammar.GrammarVerbYi"/>
        <activity android:name=".MainView" />

    </application>
</manifest>